.divProduto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw ;
    padding-right: 5vw;
    border-bottom: solid 1px;
}

.descricao{
    width: 40vw;
    margin-left: 50px;
    margin-right: 50px;
}

.botao{
    width: 324px;
    height: 80px;
    box-shadow: 0px 10px 10px #00000069;
    border-radius: 51px;
    opacity: 1;
    border: none;
    background-color: #F9C202;
    color: white;
    font-family: "Montserrat";
    font-size: 30px;
}
.nomeStyle{
    font-family: "Montserrat";
    font-size: 36px;
}

.descStyle{
    font-family: sans-serif;
    font-size: 30px;
}

.precoStyle{
    font-family: "Montserrat";
    font-size: 60px;
}